$color-white: #000;
$color-mint-green: #AEE0C5;
$color-yellow: #FFB100;
$color-turquoise: #6799A3;
$color-baby-blue: #CBEAEB;
$color-pink-lemonade: #EAD5E1;

$shopping-cart-product-height: 80px;
$shopping-cart-product-padding: 20px;

// This is definetily not the correct way of making sure the padding is 20px
// But since its about functional programming and scala, we won't waste
// Alot of time on this issue
#main nav .brand-logo.left {
  padding-left: 20px;
}

.container {
  margin-top: 50px;
}

nav {
  background-color: $color-turquoise;

  li span {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
  }
}

.nav-wrapper .items a {
  font-size: 16px;
}

.nav-wrapper .shopping-cart_number-of-items {
  display: inline;
  margin-left: 5px;
}

.card {
  height: 300px;
  background-color: $color-mint-green;
}

.card-content {
  color: $color-white;
  height: 100%;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-overview_description {
  height: 55%;
}

.product-overview_price {
  width: 100%;
  text-align: right;
}

.product-overview_add-to-cart {
  width: 100%;
}

.shopping-cart {
  margin-top: 50px;

  &_total-price-box {
    margin-top: 20px;
    font-size: 18px;

    &_total-price {
      // Super bad to use !important, but otherwise there is a need for selector overflow
      // Also, the selector is made super specific, so it won't influence any other part of the application
      padding-left: 0px !important; 
    }
  }
}

.shopping-cart-item {
  height: $shopping-cart-product-height;

  &_remove-from-cart {
    line-height: $shopping-cart-product-height - $shopping-cart-product-padding;
    text-align: center;
    cursor: pointer;
  }

  &_product-title {
    color: black;
    line-height: $shopping-cart-product-height - $shopping-cart-product-padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_product-quantity-wrapper {
    line-height: $shopping-cart-product-height - $shopping-cart-product-padding;
  }

  &_product-quantity-stepper {
    display: inline-block;
    height: 30px;
  }

  &_price-per-product {
    line-height: $shopping-cart-product-height - $shopping-cart-product-padding;
  }

  &_price-per-product-subtotal {
    line-height: $shopping-cart-product-height - $shopping-cart-product-padding;
  }
}

.bold-label {
  font-weight: bold;
}

#register-form {
  .register-form_register-button {
    width: 100%;
  }
}

.shout-out-banner {
  vertical-align: middle;
  padding: 10.5px;
  min-height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;

  ul {
    list-style-type: none;
    margin-left: 10px;

    li {
      list-style-type: none;
      padding: 3px;
    }
  }

  &.Danger {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
  }

  &.Success {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
  }
}
